<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order detail</title>
</head>
<body>
    <h1>order detail</h1>
    {% if order %}
        <p>{{ order.id }}</p>
        <p>{{ order.user }}</p>
        <p>{{ order.address }}</p>
        <p>{{ order.paid }}</p>
        <p>{{ order.delivered }}</p>
        <p>{{ order.created_at }}</p>
        <p>{{ order.updated_at }}</p>
    {% else %}
        <h3>Order does not exist</h3>
    {% endif%}
</body>
</html>